/* .buttonReturn{
    background-color: #ea7e02;
    color: white;
    border-color: #ea7e02;
}
.buttonReturn:hover{
    background-color: #FFD101;
    border-color: #FFD101;
    color: white;
} */

/* .buttonConfirm{
    background-color: #ea7e02;
    color: white;
    border-color: #ea7e02;
    width: 100%;
}

.buttonConfirm:hover{
    background-color: #FFD101;
    border-color: #FFD101;
    color: white;
}

 .buttonConfirm:focus,
 .buttonConfirm:active {
    background-color: #ea7e02;
    border-color: #ea7e02;
    color: white;
} */

/* .buttonCancel:hover {
    border-color: #ea7e02;
    color: #ea7e02;
}

.buttonEdit {
    background-color: #ea7e02;
    color: white;
    border-color: #ea7e02;
}

.buttonEdit:hover {
    background-color: #FFD101;
    border-color: #FFD101;
    color: white;
}

.buttonEdit:focus,
.buttonEdit:active {
   background-color: #ea7e02;
   border-color: #ea7e02;
   color: white;
} */