.payment-container {
  /* padding: 70px; */
  height: 100vh;
}

.payment-content {
  width: 500px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}

.payment-form {
  width: 100%;
}

.payment-heading {
  margin-bottom: 30px;
  text-align: center;
}

.payment-heading p {
  text-align: center;
  max-width: 600px;
  margin: auto;
  color: RGBA(0,0,0,0.45);
}

.titleH2{
  margin-bottom: 1.2rem;
  color: #009EE3;
}

.titleH3{
  margin-bottom: 1.2rem;
  color: #009EE3;
}

.summary-title {
  font-size: 1em;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  margin-bottom: 0.8em;
  font-weight: 400;
  padding-bottom: 8px;
}

.item {
  margin-bottom: 1em;
}
  
.item-name {
  font-weight: 500;
  font-size: 0.9em;
  color: #009EE3
}

.item-discount {
  float: right;
  font-weight: 500;
  font-size: 0.9em;
  color: green;
}

.quantity {
  text-align: center;
}
  
.price {
  float: right;
  font-weight: 500;
  font-size: 0.9em;
}

.priceTotal {
  float: right;
  font-weight: 500;
  font-size: 1.1em;
  font-weight: bold;
}

.textTotal {
  font-weight: 500;
  font-size: 1.1em;
  font-weight: bold;
}

.price1 {
  float: right;
  font-weight: 500;
  font-size: 0.9em;
  color: #009EE3
}

.select {
  float: right;
}

.valor {
  /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
  margin-top: 10px;
  padding-top: 19px;
  font-weight: 500;
  line-height: 1;
}

.desconto {
  /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
  margin-top: 10px;
  padding-top: 19px;
  font-weight: 500;
  /* line-height: 1; */
  color: green;
}

.total {
  /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
  margin-top: 10px;
  padding-top: 19px;
  font-weight: bold;
  line-height: 1;
}

.payment-details {
  padding: 25px 25px 15px;
  height: 100%;
}

.payment-button {
  width: 100%;
}