a {
    position: relative;
    text-decoration: none;
    color: #000;
}

.modules{
    color: #1a73e8; 
    padding: 15px;
}

/* .modules:hover::after {
    content: ''; 
    position: absolute;
    left: 5%;
    bottom: -2px; 
    width: 90%;
    height: 3px;
    margin-bottom: 2px;
    background-color: #fff; 
}

.modules.active::after {
    content: ''; 
    position: absolute;
    left: 5%;
    bottom: -2px; 
    width: 90%;
    height: 3px; 
    margin-bottom: 2px;
    background-color: #fff;
} */

.modules:hover::after {
    content: ''; 
    position: absolute;
    left: 5%;
    width: 90%;
    border-bottom: 3px solid;
    bottom: -2px; 
}

.modules.active::after {
    content: ''; 
    position: absolute;
    left: 5%;
    width: 90%;
    border-bottom: 3px solid;
    bottom: -2px; 
}

